
/* PAGE BACKGROUND */
body {
  margin: 0;
  min-height: 100vh;
  font-family: Arial, sans-serif;

  /* Flex makes footer stick bottom */
  display: flex;
  flex-direction: column;

  /* Background image */
  background-image: linear-gradient(
      rgba(31, 11, 11, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("../img/image1.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* MAIN CONTENT takes available space */
.main-content {
  flex: 1;
}


/* footer at bottom */
footer {
  background: #0b6372;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 14px;
}

/* ✅ Footer link visible */
footer a {
  color: #ffd700;           /* Gold / Yellow */
  font-weight: bold;
  text-decoration: none;
}

/* ✅ Hover effect */
footer a:hover {
  color: #ffffff;           /* White on hover */
  text-decoration: underline;
}


/*  NAVBAR FIX */
.navbar {
  padding: 15px;
}

/*  HOME CONTENT  */
.home-container {
  margin-top: 120px;
  text-align: center;
}

/*  WELCOME TEXT */
#welcomeText {
  font-size: 34px;
  color: #fdfcfc;
  font-weight: 500;
  margin-bottom: 30px;
}

/*  BUTTON AREA */
.home-buttons a {
  margin: 10px;
  padding: 10px 22px;
  font-size: 16px;
  transition: transform 0.2s;
}

/*  BUTTON HOVER */
.home-buttons a:hover {
  transform: translateY(-2px);
}
