/* PAGE BACKGROUND + FOOTER FIX */
body {
  margin: 0;
  min-height: 100vh;
  font-family: Arial, sans-serif;

  /* footer bottom fix */
  display: flex;
  flex-direction: column;

  /* Background image */
  background-image: linear-gradient(
      rgba(19, 59, 204, 0.4),
      rgba(26, 9, 60, 0.4)
    ),
    url("../img/login.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* main content centers container */
.main-content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* container width */
.container {
  max-width: 420px;
}

/* hide normal heading */
.container > h3 {
  display: none;
}

/* Card effect */
form {
  background: #ffffff;
  padding: 35px 30px;
  border-radius: 6px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
}

/* LOGIN TITLE */
form::before {
  content: "LOGIN";
  display: block;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #333;
}

/* INPUTS */
.form-control {
  height: 45px;
  border-radius: 4px;
  border: none;
  background-color: #eaf0d3;
  padding-left: 12px;
  font-size: 15px;
  margin-bottom: 15px;
}

.form-control:focus {
  background-color: #e8e8e8;
  outline: none;
  box-shadow: none;
}

/* LOGIN BUTTON */
.btn-primary {
  background-color: #d43f8d;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #b83274;
}

/* OTP SECTION */
#otpSection {
  background: #ffffff;
  padding: 25px;
  border-radius: 6px;
  margin-top: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

/* OTP BUTTON */
#verifyOtpBtn {
  background-color: #d43f8d;
  border: none;
  font-weight: 600;
  color: white;
  padding: 10px;
  border-radius: 4px;
}

#verifyOtpBtn:hover {
  background-color: #b83274;
}

/* OTP TIMER */
#otpTimer {
  text-align: center;
  color: #d43f8d;
  font-weight: 600;
  margin-bottom: 10px;
}

/* FOOTER */
footer {
  background: #064b84;
  color: white;
  text-align: center;
  padding: 14px;
  font-size: 14px;
}
